body {
    background: #f0f0f0;
    margin: 0em;
    padding: 0em;
    font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}

#docgo div.table {
	display: table;
	border-collapse: collapse;
}

#docgo div.tr {
	display: table-row;
}

#docgo div.td {
	display: table-cell;
}

#docgo p {
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0.8em;
    margin-left: 0em;
}

#docgo div {
    display: inline;
}

#docgo .keyword {
    color: #f2a14b;
}

#docgo .literal {
    color: #8cbe64;
}

#docgo .ident {
    color: white;
}

#docgo .operator {
	color: white;
}

#docgo .comment {
    color: #8cbe64;
}

#docgo h1, h2, h3, h4, h5 {
	font-family: 'Averia Libre', 'Lato', 'Helvetica', sans-serif;
	line-height: 1em;
    text-align: left;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 1.6em;
    margin-left: 0em;
}

#docgo h1 {
    margin-top: 1.6em;
}

#docgo .doc {
    vertical-align: top;
    color: #404040;
	font-size: 100%;
    min-width: 20em;
    max-width: 30em;
	width:auto;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 2em;
    overflow-x: hidden;
}

#docgo .code {
	font-size: 80%;
	width:auto;
	margin-right: 0em;
    padding-left: 2em;
    padding-right: 1em;
	overflow-x: auto;
    vertical-align: top;
	background-color: #303030;
}

#docgo .code pre code  {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    color: rgb(120, 120, 120);
}

/* Narrow viewports */
@media 
only screen and (max-width: 60em) {

	#docgo div.table { 
		display: block;
	  	width: 100%; 
		margin: 0;
		border: none;
	}

	#docgo div.tr, #docgo div.td { 
		display: block; 
	}

	#docgo .doc {
		min-width: 0em;
	}

	#docgo div.td.code.empty { 
		display: none;
	}
}

/* Very narrow viewports */
@media 
only screen and (max-width: 45em) {

	#docgo div.tr {
		padding: 0em;
	}
 
	#docgo div.td {
		padding: 0.5em .5em .5em;
	}
}
