<!DOCTYPE html>
<html>
<head>
<title>{{.Filename}}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href={{.CssPath}}>
</head>
<body>
<div id="goweave">
	<div id="background"></div>
	<div class="table">
		{{range .Sections}}
		<div class="tr section">
			<div class="td doc">{{.Doc}}</div>
			{{if .Code}}
				<div class="td code"><pre><code>{{.Code}}</code></pre></div>
			{{else}}
				<div class="td code empty"></div>
			{{end}}
		</div>
		{{end}}
	</div>
</div>
</body>
</html>
