/* goweave CSS */

body {
    background-color: #f0f0f0;
    margin: 0em;
    padding: 0em;
    font-family: 'Lato', 'Helvetica', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
}

#goweave div.table {
	display: table;
	border-collapse: collapse;
}

#goweave div.tr {
	display: table-row;
}

#goweave div.td {
	display: table-cell;
}

#goweave p {
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0.8em;
    margin-left: 0em;
}

#goweave div {
    display: inline;
}

#goweave .keyword {
    color: #f2a14b;
}

#goweave .literal {
    color: #8cbe64;
}

#goweave .ident {
    color: white;
}

#goweave .operator {
	color: white;
}

#goweave .comment {
    color: #aaa
}

#goweave h1, h2, h3, h4, h5 {
	font-family: 'Averia Libre', 'Lato', 'Helvetica', sans-serif;
	line-height: 1em;
    text-align: left;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 1em;
    margin-left: 0em;
}

#goweave .nocode h1, .nocode h2, .nocode h3, .nocode h4, .nocode h5 {
    margin-top: 1.6em;
}

#goweave .doc {
    vertical-align: top;
    color: #404040;
	font-size: 100%;
    min-width: 20em;
    max-width: 30em;
	width:auto;
    padding-top: 0em;
    padding-right: 1em;
    padding-left: 2em;
    overflow-x: hidden;
}

#goweave .code pre {
	margin-top: 0em
}

#goweave .code {
	font-size: 80%;
	width:auto;
    padding-left: 2em;
    padding-right: 1em;
	margin-right: 0em;
	overflow-x: auto;
    vertical-align: top;
	background-color: #303030;
}

#goweave .code pre code  {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    color: rgb(120, 120, 120);
}

#goweave div.tr.section.nocode {
	display: block;
}

#goweave div.td.doc.nocode {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#goweave div.td.code.empty { 
	display: none;
}

/* Narrow viewports */
@media 
only screen and (max-width: 60em) {

	#goweave div.table { 
		display: block;
	  	width: 100%; 
		margin: 0;
		border: none;
	}

	#goweave div.tr, #goweave div.td { 
		display: block; 
	}

	#goweave .doc {
		min-width: 0em;
		padding-top: 1em
	}

	#goweave .code {
		padding-top: 1em
	}

	#goweave div.td.code.empty { 
		display: none;
	}
}

/* Very narrow viewports */
@media 
only screen and (max-width: 45em) {

	#goweave div.tr {
		padding: 0em;
	}
 
	#goweave div.td {
		padding: 0.5em .5em .5em;
	}
}

@media
print {

	body {
		background-color: #fff;
	}

	#goweave .code {
		background-color: #fff;
	}

	#goweave .keyword {
		color: #f2a14b;
	}

	#goweave .literal {
		color: #8cbe64;
	}

	#goweave .ident {
		color: white;
	}

	#goweave .operator {
		color: white;
	}

	#goweave .comment {
		color: #aaa
	}

}
